.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  font-size: $font-size-large;
  line-height: $line-height-large;

  @include mobile {
    justify-content: normal;
    padding-top: 50px;
    font-size: $font-size-small;
  }

  @include landscape-mobile {
    padding-top: 50px;
  }

  &__contacts-link {
    cursor: pointer;
  }
}


