.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  font-size: $font-size-large;
  line-height: $line-height-large;

  &__contacts-link {
    cursor: pointer;
  }

  @include mobile {
    margin-top: 20px;
    font-size: $font-size-small;
  }
}


