.contacts {
  display: flex;
  flex-direction: column;

  &__text {
    margin-top: 30vh;
    text-align: center;
  }

  &__socials {
    display: flex;
    justify-content: center;
    gap: 20px;
    height: auto;
  }
}

.social-logo {
  @include gradient-border;

  height: 60px;
  width: 60px;
  box-sizing: border-box;
  border-width: 2px;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  position: relative;
  background: black;
  cursor: pointer;

  img {
    height: 40px;
    width: 40px;
  }
}
