.projects {
  padding-top: 80px;

  @include tablet {
    margin: 0 auto;
  }

  @include mobile {
    margin: 0;
  }

  &__list {
    display: grid;
    place-items: center;
    max-width: 1000px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
      grid-template-columns: 1fr;
    }
  }
}
