@font-face {
  font-family: 'Drugs';
  src: url('/assets/fonts/Drugs.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Maleah';
  src: url('/assets/fonts/Maleah.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
