$color-black: #000000;
$color-grey-dark: #202020;
$color-grey: #969696;
$color-white: #ffffff;
$color-milk: #e8eae6;
$color-sage: #99a799;
$color-sage-dark: #7c9473;
$color-sage-darkest: #434e43;

$color-aurora-purple: #a166ab;
$color-aurora-indigo: #6c44fc;
$color-aurora-blue: #14b9d6;
$color-aurora-turquoise: #00c48e;
$color-aurora-green: #52ff84;

$color-aurora-purple-light: #f6c5ff;
$color-aurora-indigo-light: #b8a5ff;
$color-aurora-blue-light: #8aecff;
$color-aurora-turquoise-light: #7affd9;
$color-aurora-green-light: #7fffa3;

$gradient-aurora: linear-gradient(
                60deg,
                $color-aurora-purple,
                $color-aurora-indigo,
                $color-aurora-blue,
                $color-aurora-turquoise,
                $color-aurora-green
);

$gradient-aurora-light: linear-gradient(
                60deg,
                $color-aurora-purple-light,
                $color-aurora-indigo-light,
                $color-aurora-blue-light,
                $color-aurora-turquoise-light,
                $color-aurora-green-light
);

$gradient-black: linear-gradient(
                135deg,
                rgba($color-grey-dark, 1) 0%,
                rgba($color-black, 1) 40%
);

$gradient-header-black: linear-gradient(
                to bottom,
                rgba($color-black, 1) 0%,
                rgba($color-black, 0.9) 30%,
                rgba($color-black, 0) 100%
);
$gradient-footer-black: linear-gradient(
                to top,
                rgba($color-black, 1) 0%,
                rgba($color-black, 0.9) 30%,
                rgba($color-black, 0) 100%
);

@mixin shadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
}

@mixin accent-shadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;

  &:hover {
    box-shadow: rgba(99, 99, 99, 0.4) 0 4px 12px 0;
  }
}

@mixin gradient-text {
  background: $gradient-aurora-light;
  background-size: 300% 300%;
  animation: animatedgradient 5s ease alternate infinite;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: $font-weight-bold;
}

@mixin gradient-border {
  &:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    border-radius: 10px;
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    background: white;
    z-index: -1;
  }

  &:hover {
    &:after {
      background: $gradient-aurora;
      animation: animatedgradient 5s ease alternate infinite;
      background-size: 300% 300%;
    }
  }
}

@mixin gradient-scrollbar {
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background: rgba($color-grey-dark, 1);
  }

  &::-webkit-scrollbar-track {
    background: $gradient-aurora;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: 0 0 0 100000vh rgba($color-grey-dark, 1);
  }
}

@mixin sage-scrollbar {
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background: rgba($color-sage-dark, 1);
  }

  &::-webkit-scrollbar-track {
    background: $color-sage-dark;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: 0 0 0 100000vh rgba($color-white, 1);
  }
}

@keyframes animatedgradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes theme-transition-dark {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes theme-transition-light {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

$moth: url('/assets/images/graphics/moth.png');
$crystals: url('/assets/images/graphics/crystals.png');
$dragonfly: url('/assets/images/graphics/dragonfly.png');

$moth-position: top 5vh right 2vw;
$crystals-position: top 75vh left 2vw;
$dragonfly-position: bottom 20vh center;

$moth-size: 250px auto;
$crystals-size: 200px auto;
$dragonfly-size: 300px auto;

$moth-position-mobile: top 5vh right 2vw;
$crystals-position-mobile: top 80vh left 2vw;
$dragonfly-position-mobile: bottom 20vh center;

$moth-size-mobile: 180px auto;
$crystals-size-mobile: 150px auto;
$dragonfly-size-mobile: 220px auto;

@mixin graphic-background-stars {
  background-image:
          $moth,
          $crystals,
          $dragonfly;
  background-position:
          $moth-position,
          $crystals-position,
          $dragonfly-position;
  background-size:
          $moth-size,
          $crystals-size,
          $dragonfly-size;
  background-repeat: no-repeat;
}

@mixin graphic-background-stars-mobile {
  background-image:
          $dragonfly;
  background-position:
          $dragonfly-position-mobile;
  background-size:
          $dragonfly-size-mobile;
  background-repeat: no-repeat;
}

$buckthorn: url('/assets/images/graphics/buckthorn.png');
$sage: url('/assets/images/graphics/sage.png');
$olive: url('/assets/images/graphics/olive.png');

$buckthorn-position: top 10vh right 3vw;
$sage-position: top 62vh left 4vw;
$olive-position: bottom 25vh center;

$buckthorn-size: 300px auto;
$sage-size: 130px auto;
$olive-size: 220px auto;

$buckthorn-position-mobile: top 5vh right 2vw;
$sage-position-mobile: top 85vh left 2vw;
$olive-position-mobile: bottom 25vh center;

$buckthorn-size-mobile: 220px auto;
$sage-size-mobile: 100px auto;
$olive-size-mobile: 180px auto;

@mixin graphic-background-herbs {
  background-image:
          $buckthorn,
          $sage,
          $olive;
  background-position:
          $buckthorn-position,
          $sage-position,
          $olive-position;
  background-size:
          $buckthorn-size,
          $sage-size,
          $olive-size;
  background-repeat: no-repeat;
}

@mixin graphic-background-herbs-mobile {
  background-image:
          $olive;
  background-position:
          $olive-position-mobile;
  background-size:
          $olive-size-mobile;
  background-repeat: no-repeat;
}

@mixin mobile {
  @media screen and (max-width: 750px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 750px) and (max-width: 1200px) {
    @content;
  }
}
